<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="styles/login.css">
</head>
<body>
    <div class="login-container">
        <div class="login-card">
            <h1>Cadastre-se</h1>
            <form action="/cadastro" method="post" class="campos-login">
                <label for="email">Nome</label>
                <input type="email" name="email" id="nome" required>

                <label for="senha">Email</label>
                <input type="password" name="senha" id="email" required>

                <label for="senha">Senha</label>
                <input type="password" name="senha" id="senha" required>

                <input type="submit" value="Cadastrar" class="btn-login">
            </form>
            <div class="cadastro">
                <p><span class="semconta">Ja possui uma conta?<span> <a href="login.html"><br/> <span class="cadastrese">Faça Login!</span></a></p>
            </div>
        </div>
    </div>
</body>
</html>



